* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monomaniac One', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

/* HEADER----------------------------------------------------------- */

.header {
    grid-column: 1/3;
    display: flex;
    background-color: #333;
    color: #fff;
    min-width: 300px;
}

.header h1 {
    font-size: 3.5rem;
    padding: 20px 0px;
}

/* NAV----------------------------------------------------------- */
.nav {
    grid-row: 2/3;
    background-color: #fff;
    padding: 10px;
}

.nav h1 {
    padding: 5px 0px;
    border-bottom: 3px solid #333;
}

.home-buttons button {
    display: block;
    border: none;
    background-color: #fff;
    width: 100%;
    min-width: 205px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.home-buttons button:hover, .project-button:hover  {
    color: white;
    background-color: #333;
}

.project-button {
    display: block;
    border: none;
    background-color: #fff;
    width: 100%;
    min-width: 205px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#add-project-btn {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

#add-project-btn:hover {
    background-color: #333;
    color: white;
}

/* CONTENT----------------------------------------------------------- */

.content {
    grid-area: 2/2/3/3;
    background-color: #ddd;
}